.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  transition: opacity .2s linear;
}

.footer__column-link:hover {
  opacity: .5;
}
