@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*БЛОК HEADER*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  color: #000000;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  width: 730px;
  margin: 0 0 0 64px;
  z-index: 1;
}

.header__subtitle {
  color: #000000;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 1;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  transition: opacity .2s linear;
}

.header__link:hover {
  opacity: .5;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url(../images/header-image.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.rotation {
  animation: rotation 20s linear infinite;
}

/*БЛОК DESCRIPTION*/
.description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  margin-top: 0;
  margin-bottom: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  color: #000000;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}

.two-columns__span-accent {
  font-weight: 600;
  line-height: 34px;
  font-size: 24px;
}

/*БЛОК TECHNICS*/
.techniques {
  margin: 100px auto 0;
  width: 80%
}

.cards {
  margin: 0 auto;
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.cards__item {
  margin-top: 60px;
  margin-bottom: 0;
  width: 240px;
}

.cards__item:nth-of-type(2) {
  margin-right: 100px;
  margin-left: 100px;
}

.cards__item:nth-of-type(5) {
  margin-right: 100px;
  margin-left: 100px;
}

.cards__image {
  width: 160px;
  height: 160px;
  padding: 0 40px;
  border-radius: 50%;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding: 43px 0 16px;
  margin: 0;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

/*БЛОК VIDEO*/
.video {
  margin-top: 100px;
}

.video__iframes {
  margin: 50px auto -60px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.video__iframe {
  width: 515px;
  height: 316px;
  margin-right: 20px;
}

.video__iframe:last-of-type {
  margin-right: 0;
}

/*БЛОК OAKLEY*/
.oakley {
  background-color: #f2f2f2;
  padding-top: 160px;
}

/*БЛОК FEYNMAN*/
.feynman {
  min-height: 890px;
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
}

.feynman__title {
  color: #000000;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.feynman__subtitle {
  color: #000000;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  padding-top: 70px;
  text-align: center;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
  transition: opacity .2s linear;
}

.feynman__link:hover {
  opacity: .5;
}

/*БЛОК DIGITS*/
.digits {
  margin-top: 100px;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  width: 60%;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 20px auto 0;
  width: 60%;
}

.table {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px;
}

.table__text:last-child {
  margin-bottom: 0;
}

/*БЛОК KHAN*/

.khan {
  background-color: #f2f2f2;
  margin-top: 100px;
  padding-top: 105px;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}

.khan__quote {
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 50px 0 36px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0 68px;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  background-image: url("../images/khan-book.jpg");
  background-size: cover;
  width: 620px;
  height: 608px;
}

.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  transition: opacity .2s linear;
}

.khan__buy-link:hover {
  opacity: .5;
}

/*БЛОК KAUFMAN*/
.kaufman {
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  padding: 90px 0;
  z-index: 1;
}

.section-title_theme-dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  background-size: 100%;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}

/*БЛОК RESOURCES*/

.resources {
  margin: 100px 0 217px;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 0;
  display: flex;
  justify-content: space-between;
}

.resources__logo {
  width: 270px;
  height: 38px;
  transition: opacity .2s linear;
}

.resources__logo:hover {
  opacity: .5;
}

/*БЛОК FOOTER*/
.footer {
  background-color: #1f1f1f;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 250px;
  padding: 60px 0 40px;
  margin: 0 auto;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  color: white;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__column-links {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  padding: 0;
  transition: opacity .2s linear;
}

.footer__column-link:hover {
  opacity: .5;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
